body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 16px;
    background-color: transparent;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;

}