body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-1 {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
}

.btn-1:hover {
    background-color: black;
    color:brown;
}

.btn-2 {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    transition: 
        background-color 1s ease-in,
        border-radius 1s ease-in,
        color 1s ease-in;
}

.btn-2:hover {
    background-color: blue;
    border-radius: 5px;
    color:white;
}

.btn-3 {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    transition: 
        background-color 1s ease,
        border 1s ease,
        box-shadow 1s ease,
        transform 1s ease;
}

.btn-3:hover{
    background-color: red;
    border: 5px dotted blue;
    box-shadow: 2px 2px 5px black;
    transform: scale(1.2,1.2);
}